<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="../static/img/Page/logo3.png">
    <title>User CRUD</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="main.html">BSTORE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active disabled" href="main.html">Principal</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="register.html">Register</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="store.html">Tiendas</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="about.html">¿Quiénes Somos?</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Mi cuenta
					</a>
					<div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Perfil</a>
						<a class="dropdown-item" href="#">Cambiar contraseña</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" onclick="cerrarSesion()">Cerrar sesión</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
    <div class="container">
        <h1 class="text-center my-5">User CRUD</h1>
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addUserModal">
            Add User
        </button>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Pass</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="userList">
                <tr id="user-${user.id}">
                    <td>Brian</td>
                    <td>brian.arias@</td>
                    <td>1234</td>
                    <td>
                        <button type="button" class="btn btn-primary editUserBtn"
                            data-id="${user.id}">Edit</button>
                        <button type="button" class="btn btn-danger deleteUserBtn"
                            data-id="${user.id}">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addUserForm">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" class="form-control" id="editName" name="name"
                                placeholder="Enter user name" required>
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="email"
                                placeholder="Enter user email" required>
                        </div>
                        <div class="form-group">
                            <label for="editPass">Pass</label>
                            <input type="password" id="editPass" class="form-control" name="pass"
                                placeholder="Enter user email pass" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addUser()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit User Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <input type="hidden" id="editId" name="id">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" class="form-control" id="editName" name="name"
                                placeholder="Enter user name" required>
                        </div>
                        <div class="form-group">
                            <label for="editEmail">Email</label>
                            <input type="email" class="form-control" id="editEmail" name="email"
                                placeholder="Enter user email" required>
                        </div>
                        <div class="form-group">
                            <label for="editPass">Pass</label>
                            <input type="password" id="editPass" class="form-control" name="pass"
                                placeholder="Enter user email pass" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="updateUserBtn">Update user</button>
                </div>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Get users list
            function getUsers() {
                $.ajax({
                    url: '',
                    type: 'GET',
                    success: function (response) {
                        let users = JSON.parse(response);
                        let userList = $('#userList');
                        userList.html('');
                        users.forEach(user => {
                            userList.append(`
              <tr id="user-${user.id}">
                <td>${user.name}</td>
                <td>${user.email}</td>
                <td>${user.pass}</td>
                  <button type="button" class="btn btn-primary editUserBtn" data-id="${user.id}">Edit</button>
                  <button type="button" class="btn btn-danger deleteUserBtn" data-id="${user.id}">Delete</button>
                </td>
              </tr>`);
                        });
                    }
                });
            }

            getUsers();

            // Add user
            $('#addUserForm').submit(function (e) {
                e.preventDefault();
                let formData = new FormData(this);
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#addUserModal').modal('hide');
                        $('#addUserForm')[0].reset();
                        getUsers();
                    }
                });
            });

            // Edit user
            $(document).on('click', '.editUserBtn', function () {
                let id = $(this).data('id');
                $.ajax({
                    url: '',
                    type: 'GET',
                    data: { id: id },
                    success: function (response) {
                        let user = JSON.parse(response);
                        $('#editId').val(user.id);
                        $('#editName').val(user.name);
                        $('#editEmail').val(user.email);
                        $('#editPass').val(user.pass);
                        $('#editUserModal').modal('show');
                    }
                });
            });
            $('#editUserForm').submit(function (e) {
                e.preventDefault();
                let formData = new FormData(this);
                $.ajax({
                    url: '',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#editUserModal').modal('hide');
                        $('#editUserForm')[0].reset();
                        getUsers();
                    }
                });
            });

            // Delete user
            $(document).on('click', '.deleteUserBtn', function () {
                let id = $(this).data('id');
                $.ajax({
                    url: '',
                    type: 'GET',
                    data: { id: id },
                    success: function (response) {
                        $(`#user-${id}`).remove();
                    }
                });
            });
        });
    </script>
</body>

</html>