<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="../static/img/Page/logo3.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Terminar Registro</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="../static/img/Page/logo.png" aria-label="Placeholder: 400x400" focusable="false" width="1.8%">
   		<a class="navbar-brand" href="#">BSTORE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </nav>

    <div class="container">
        <div class="row">
            <div class="mx-auto text-center align-items-center" id="divSeleccion">
                <br><br><br><br><br><br><br><br>
                <h2 class="card-title text-center"> Selecciona tu tipo de usuario:</h2>
                <br>
                <button type="button" class="btn btn-primary btn-lg" id="btPersona">Tipo Persona</button>
                <button type="button" class="btn btn-secondary btn-lg" id="btEmpresa">Tipo Empresa</button>
            </div>

            <div id="ModalPerson" class="modal align-items-center text-center">
                <!-- Contenido del modal -->
                <div class="modal-content" id="modalInt1">
                    <div class="justify-content-end d-flex">
                        <span class="close1">&times;</span>
                    </div>
                    <!-- <h4 class="card-title text-center">Completa la información faltante para terminar el registro</h4> -->
                    <form id="personForm">
                        <h5 class="card-title text-center">Datos personales</h5>
                        <hr>
                        <div class="form-label-group d-flex">
                            <div class="col-md-6">
                                <input type="text" id="nombreP" class="form-control" placeholder="Nombres" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="apellidoP" class="form-control" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="text" id="idP" class="form-control" placeholder="Identificación" required
                                autofocus>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="text" id="telefonoP" class="form-control" placeholder="Télefono personal"
                                required autofocus>
                        </div>
                        <hr>
                        <div class="mb-3 mt-3">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Terminar
                                registro</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="ModalEnterprise" class="modal align-items-center">
                <!-- Contenido del modal -->
                <div class="modal-content" id="modalInt2">
                    <div class="justify-content-end d-flex">
                        <span class="close2">&times;</span>
                    </div>
                    <form id="enterpriseForm" onsubmit="return validar()">
                        <h5 class="card-title text-center">Datos personales</h5>
                        <hr>
                        <div class="form-label-group d-flex">
                            <div class="col-md-6">
                                <input type="text" id="nombrePEnterprise" class="form-control" placeholder="Nombres" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="apellidoPEnterprise" class="form-control" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="number" id="idPEnterprise" class="form-control" placeholder="Identificación" required
                                autofocus>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="number" id="telefonoPEnterprise" class="form-control" placeholder="Télefono personal"
                                required autofocus>
                        </div>
                        <hr>
                        <h5 class="card-title text-center">Datos de la empresa</h5>
                        <div class="form-label-group">
                            <input type="number" id="inputNitE" class="form-control" placeholder="Nit de la empresa"
                                required>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="text" id="inputNombreE" class="form-control" placeholder="Nombre de la empresa"
                                required>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <input type="number" id="inputTelefonoE" class="form-control"
                                placeholder="Teléfono empresarial" required>
                        </div>
                        <hr>
                        <div>
                            <label id="crearUbicacion" class="form-control" >Dirección</label>
                        </div>
                        <div class="form-label-group">
                            <a id="btMaps" class="btn btn-lg btn-success btn-block text-uppercase" >Selecciona la
                                ubicación</a>
                        </div>
                        <hr>
                        <div class="mb-3 mt-3">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Terminar
                                registro</button>
                        </div>
                        <div id="validacionDirec" class="text-center"></div>
                    </form>
                </div>
            </div>
            <div id="ModalMaps" class="modal align-items-center">
                <div class="modal-content" id="modalInt3">
                    <div class="justify-content-end d-flex">
                        <span class="close3">&times;</span>
                    </div>
                    
                    <div>
                        <a class="btn btn-sm btn-primary btn-block" id="btAceptar">Aceptar </a>
                    </div>
                    <div class ="container" id="map">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="../static/js/modals.js"></script>
<script src="../static/js/metodos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo8INTP-cwImAhUNGL2jDIPniETyMOHr8&callback=iniciarMap"></script>
</html>